@{
    ViewData["Title"] = "Inicio";
}

<div class="container">
    <h1>Inicio</h1>
    <img width="200px" height="210px" src="https://4.bp.blogspot.com/-Uzd__TpJrFo/VSMfCEWxz3I/AAAAAAAACiU/V-iU25iYwxM/s1600/robot_voip.png" alt="Imagen" />
    
    <head>
        Hola. Necesitas Ayda?☺☻
    </head>
    <img width="200px" height="210px" src="https://th.bing.com/th/id/R.a1564c72644c57ac25c36d3c32a156c6?rik=3xOhQCD0x%2bKqAA&riu=http%3a%2f%2fwww.bobarron.com%2fwp-content%2fuploads%2f2016%2f05%2f10065298_l.jpg&ehk=gfhV3pEULXP8xwNQ8EeYJCHia5znn0lD%2b%2bUxjLvAjcQ%3d&risl=&pid=ImgRaw&r=0g" alt="Imagen" />
