@model Inventario.Models.Marca

<h1>Crear Marca</h1>

<form asp-action="Crear" method="post">
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" asp-for="Nombre" />

    </div>
    <div class="form-group">
        <label for="PaisOrigen">País de Origen</label>
        <input type="text" class="form-control" asp-for="PaisOrigen" />
    </div>
    <img width="200px" height="210px" src="https://th.bing.com/th/id/OIP.hbwyGVnb7qHaz8fIML7b1gHaHa?w=600&h=600&rs=1&pid=ImgDetMain" alt="Imagen" />

    <button type="submit" class="btn btn-success">Crear</button>

</form>

